<!-- header.component.html -->
<nav class="main-nav">
  <div class="logo">
    <a routerLink="/"><img src="/images/logo.JPG" alt="Company Logo"></a>
  </div>

    <button class="mobile-menu-toggle" (click)="toggleMenu()">
    ☰
  </button>
  
  <ul class="nav-links" [class.show]="isMenuOpen">
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    
    <li class="dropdown">
      <a routerLink="/about" routerLinkActive="active">About Us</a>
      <ul class="dropdown-menu">
        <li><a routerLink="/about/story" routerLinkActive="active">Our Story</a></li>
        <li><a routerLink="/about/vision-mission" routerLinkActive="active">Vision & Mission</a></li>
        <li><a routerLink="/about/values" routerLinkActive="active">Our Values</a></li>
        <li><a routerLink="/about/certificates" routerLinkActive="active">Industrial Certificates</a></li>
      </ul>
    </li>
    
    <li class="dropdown">
   <a routerLink="/services" routerLinkActive="active" (click)="toggleDropdown($event)">Services</a>
         <ul class="dropdown-menu">
        <li *ngFor="let service of services">
          <a [routerLink]="['/services', service.id]" routerLinkActive="active">{{service.name}}</a>
        </li>
      </ul>
    </li>
    
    <li><a routerLink="/work" routerLinkActive="active">Our Work</a></li>
    <li><a routerLink="/partners" routerLinkActive="active">Partners</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</nav>